html {

    --white: #FFFFFF;

    --marine: #0E719E;

    --light-green: #47B0E0;

    --gentle-blue: #ABDCF1;

    --founders-grotesk: FoundersGrotesk;

    --gt-super-ds: GT Super Display;

}



.btn-default,

.navbar-nav .nav-item .btn-default {

    font-size: 22px;

    background-color: var(--light-blue);

    padding: 20px 50px;

    border-radius: 40px;

    font-weight: 300;

    transition: all 0.3s ease;

    position: relative;

    box-shadow: none !important;

    line-height: 15px;

    letter-spacing: 0.75px;

    border: 1px solid var(--light-blue);

    text-transform: none;

    color: #222;

}



.btn-default.btn-nobg,

.btn-nobg .btn-default {

    background-color: #ffffff;

    border: 1px solid #ffffff;

}



.btn-blue .btn-default {

    background-color: var(--light-blue);

    border-color: var(--light-blue);

}



.btn-dot .btn-default {

    background-color: transparent;

    position: relative;

    padding: 0;

    padding-left: 30px;

    line-height: 25px;

    border: none;

    font-size: 26px;

    text-align: left;

    border-radius: 0 !important;

}



.btn-dot .btn-default::before {

    content: "";

    position: absolute;

    width: 19px;

    height: 19px;

    border-radius: 50%;

    background-color: var(--light-blue);

    left: 0;

    top: 2px;

}



.btn-dot .btn-default:hover {

    background-color: transparent;

    border: none;

    color: var(--light-green);

}



.btn-dot .btn-default:hover::before {

    background-color: var(--light-green);

}



.btn-default:focus,

.btn-default:active {

    border: none;

    outline: 0;

    box-shadow: none;

}



.btn-default:hover {

    background-color: #fff;

    text-decoration: none;

    border: 1px solid #fff;

    border-color: #fff!important;

}



.btn-black {

    background-color: #000;

    border: 1px solid #000;

    color: #fff;

}



.btn-darkblue {

    background-color: #072C3B;

    border: 1px solid #072C3B;

    color: #fff;

}



.btn-lightGreen {

    background-color: var(--light-green);

    border: 1px solid var(--light-green);

    ;

    color: var(--dark-green);

}



.btn-black:hover,

.btn-darkblue:hover {

    color: #000;

}



.btn-clear-blue {

    border: 1px solid var(--light-blue);

    background-color: transparent;

    color: var(--light-blue) !important;

}



.btn-clear-blue:hover {

    color: var(--dark-blue) !important;

}



.networkingBanner .btn-default:hover {

    color: #fff;

    background-color: var(--orange);

    text-decoration: none;

    border: 1px solid var(--orange);

    border-color: var(--orange) !important;

}



.btn-default.videoBtn,

.btn-default.globeBtn {

    padding-left: 55px;

}



.btn-default.videoBtn::before {

    content: " ";

    position: absolute;

    left: 25px;

    top: 14px;

    border: 0;

    background: transparent;

    box-sizing: border-box;

    width: 0;

    height: 16px;

    border-color: transparent transparent transparent #092D3D;

    transition: 100ms all ease;

    cursor: pointer;

    border-style: solid;

    border-width: 9px 0 9px 16px;

}



.btn-default.videoBtn.paused::before {

    border-style: double;

    border-width: 0px 0 0px 60px;

}



.btn-default.videoBtn.paused:hover::before {

    border-color: transparent transparent transparent #404040;

    left: 30px;

}



.btn-default.globeBtn::before {

    content: " ";

    position: absolute;

    background-image: url(../../img/Icon\ ionic-ios-globe-black.svg);

    left: 25px;

    top: 14px;

    border: 0;

    box-sizing: border-box;

    width: 20px;

    height: 20px;

    transition: 100ms all ease;

    cursor: pointer;

    background-size: contain;

}



.btn-clear * {

    transition: all 0.3s ease;

}





/* .btn-clear a {

    position: relative;

    background: none !important;

    padding: 0;

    margin-top: 20px;

    line-height: 40px;

    font-weight: 400;

    border: none !important;

} */





/* .btn-clear a::after {

    content: "";

    position: absolute;

    width: 100%;

    height: 1px;

    background: var(--dark-green);

    bottom: 2px;

    left: 0;

    transition: all 0.3s ease

}



.btn-clear:hover * {

    opacity: 1;

} */



.btn-clear a:hover::after {

    width: calc(100% + 10px);

}



.btn-clear-white a {

    background-color: transparent !important;

    border-color: #fff;

}



.btn-clear-black a {

    background-color: transparent !important;

    border-color: var(--main-text);

    color: var(--main-text);

}



.btn-clear-white a:hover,

.btn-clear-black a:hover {

    background-color: var(--white) !important;

    border-color: var(--white) !important;

}



.btn-colored .btn-default {

    color: #000;

}



.color-black {

    color: #000000;

}



.btn-colored .btn-default::after {

    border-top: 1px solid #000 !important;

    border-right: 1px solid #000 !important;

}



.showHideText.btn-clear a,

.showHideText.btn-clear-black a,

.btn-readMoreText.btn-clear a {

    position: relative;

    background: none !important;

    padding: 0;

    margin-top: 20px;

    line-height: 40px;

    font-weight: 400;

    border: none !important;

    overflow: visible !important;

}



.showHideText.btn-clear a::after,

.btn-readMoreText.btn-clear a::after {

    content: "";

    position: absolute;

    width: 13px;

    height: 13px;

    bottom: 2px;

    border-top: 1px solid var(--white);

    border-right: 1px solid var(--white);

    right: -20px;

    bottom: 19px;

    transition: all 0.3s ease;

    transform: rotate( 135deg);

    border-radius: 0;

}



.showHideText.btn-clear-black a::after,

.btn-readMoreText.btn-clear-black a::after {

    content: "";

    position: absolute;

    width: 13px;

    height: 13px;

    bottom: 2px;

    right: -20px;

    bottom: 19px;

    transition: all 0.3s ease;

    transform: rotate( 135deg);

    border-radius: 0;

    border-top: 1px solid #000;

    border-right: 1px solid #000;

}



.showHideText.btn-clear a.activeShow::after,

.showHideText.btn-clear-black a.activeShow::after,

.readMoreText.btn-clear a.activeShow::after {

    transform: rotate( -45deg);

    bottom: 10px

}



.small-text-left .btn-clear a {

    margin-top: 0;

}



.spring {

    flex: 1 1 auto

}



.events {

    display: flex;

    flex-wrap: wrap;

    margin: 0;

    margin-bottom: 50px

}



.events .item>.image {

    margin-bottom: 0;

    padding-bottom: 250px;

    background: center no-repeat;

    background-size: 100%;

    background-size: cover;

    background-position: left top;

}



.item>.tags,

.article-title .tags {

    display: flex;

    font-size: 16px;

    line-height: 24px;

    letter-spacing: 0.3px;

}



.item>.tags>* {

    margin: 0 4px;

    padding: 0px 10px;

    border-radius: 20px;

    margin-top: 20px;

}



.item>.tags>.tag,

.article-title>.tags>.tag {

    background: #D9EF65;

}



.item>.tags>.type,

.articles .item>.tags>.tag,

.article-title .tags>.tag {

    background: var(--gentle-blue);

}



.item>.tags>.location {

    background: #ABF1AB;

}



.see-all {

    display: inline-flex;

    padding: 0;

    border-bottom: 1px solid;

    text-decoration: none;

    float: left;

    width: fit-content;

    transition: all 0.3s ease

}



.see-all:hover {

    text-decoration: none;

    padding-right: 10px;

}



.event-listing .actions {

    display: flex

}



.action {

    width: 17px;

    height: 18px;

    position: relative;

    cursor: pointer;

    transition: all 0.3s ease

}



.action::before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 17px;

    height: 17px;

    transition: all 0.3s ease

}



.action::after {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 17px;

    height: 17px;

    transition: all 0.3s ease

}



.action.next-action::before {

    border-top: 2px solid var(--dark-green);

    transform: rotate(45deg);

}



.action.next-action::after {

    border-bottom: 2px solid var(--dark-green);

    transform: rotate(-45deg);

}



.action.prev-action::before {

    border-top: 2px solid var(--dark-green);

    transform: rotate(-45deg);

}



.action.prev-action::after {

    border-bottom: 2px solid var(--dark-green);

    transform: rotate(45deg);

}



.action.slick-disabled::after,

.action.slick-disabled::before {

    border-color: #ccc !important;

    cursor: not-allowed !important

}



.action:hover::after,

.action:hover::before {

    border-color: var(--light-green) !important;

}



.btn-download a.btn.btn-default {

    position: relative;

    background: var(--light-green);

    color: var(--dark-green);

    border-radius: 0;

    margin-left: -12px;

    padding-left: 35px;

    transition: all 0.3s ease;

}



.btn-download {

    padding-left: 12px;

}



.btn-download a.btn.btn-default:hover {

    background-color: #46a0c9;

}



.btn-download a.btn.btn-default::before {

    content: "";

    background-image: url('../../img/Gruppe\ 160.svg');

    background-repeat: no-repeat;

    width: 12px;

    height: 15px;

    position: absolute;

    top: 18px;

    left: 14px;

}





/*Paging*/



.page-item .page-link {

    border: none;

}



.action {

    width: 17px;

    height: 18px;

    position: relative;

    cursor: pointer;

    transition: all 0.3s ease

}



.action span {

    display: none;

}



.action:hover {

    background: none;

}



.action::before {

    content: "";

    position: absolute;

    top: 0;

    left: 0;

    width: 17px;

    height: 17px;

    transition: all 0.3s ease

}



.action::after {

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 17px;

    height: 17px;

    transition: all 0.3s ease;

}



.action.next-action::before {

    border-top: 2px solid var(--dark-green);

    transform: rotate(45deg);

}



.action.next-action::after {

    border-bottom: 2px solid var(--dark-green);

    transform: rotate(-45deg);

}



.action.prev-action::before {

    border-top: 2px solid var(--dark-green);

    transform: rotate(-45deg);

}



.action.prev-action::after {

    border-bottom: 2px solid var(--dark-green);

    transform: rotate(45deg);

}



.disabled .action::after,

.disabled .action::before {

    border-color: #ccc !important;

    cursor: not-allowed !important

}



.action:hover::after,

.action:hover::before {

    border-color: var(--dark-green) !important;

}



.orangeButton .action:hover::after,

.orangeButton .action:hover::before {

    border-color: var(--dark-green) !important;

}



.regActionButton .action:hover::after,

.regActionButton .action:hover::before {

    border-color: var(--dark-green) !important;

}



.page-item .page-link:not(.action) {

    margin-top: -10px;

}



.page-item .page-link {

    color: var(--dark-green)

}



.page-item.active .page-link {

    background-color: #f2f2f2;

    color: var(--dark-green);

    box-shadow: none;

}



.nextTabBtn {

    text-align: right;

    padding-top: 40px;

}



.nextTabBtn a {

    background: none;

    border-radius: 0;

    position: relative;

}



.nextTabBtn a:hover {

    background: none;

    border-radius: 0;

    position: relative;

    opacity: 0.7;

}



.nextTabBtn a::before,

.nextTabBtn a::after {

    content: "";

    position: absolute;

    top: 17px;

    right: 7px;

    width: 17px;

    height: 17px;

    transition: all 0.3s ease

}



.nextTabBtn a::before {

    border-top: 2px solid var(--dark-green);

    transform: rotate(45deg);

}



.nextTabBtn a::after {

    border-bottom: 2px solid var(--dark-green);

    transform: rotate(-45deg);

}





/*Success tab*/



.nav-tabs .nav-link {

    border-bottom: 0 !important;

}



.successTab .nav-tabs .nav-item.show .nav-link,

.successTab .nav-tabs .nav-link.active,

.riskTab .nav-tabs .nav-item.show .nav-link,

.riskTab .nav-tabs .nav-link.active {

    color: var(--dark-green);

    border-bottom: none;

}



.successTab .nav-tabs .nav-item,

.riskTab .nav-tabs .nav-item {

    padding: 17px 60px 16px 30px;

}



.successTab .nav-tabs .nav-item:not(:last-child),

.riskTab .nav-tabs .nav-item:not(:last-child) {

    border-right: 1px solid var(--gentle-blue);

}



.successTab .nav-tabs .nav-link,

.riskTab .nav-tabs .nav-link {

    position: relative;

    font-weight: 400;

    font-size: 18px;

    line-height: 26px;

    color: var(--dark-green);

    padding: 0;

    padding-bottom: 10px;

}



.successTab .nav-tabs .nav-item:first-child .nav-link,

.riskTab .nav-tabs .nav-item:first-child .nav-link {

    margin-left: 10px;

}



.successTab .nav-tabs .nav-link:hover,

.riskTab .nav-tabs .nav-link:hover {

    background-color: transparent;

    text-decoration: none;

}



.successTab .nav-tabs .nav-link:hover::after {

    display: none;

}



.successTab .nav-justified .nav-item,

.successTab .nav-justified>.nav-link,

.riskTab .nav-justified .nav-item,

.riskTab .nav-justified>.nav-link {

    text-align: left;

}



.module-header-search {

    position: relative;

    display: inline-block;

    transform: translateY(-10px);

}



.module-header-search input[type="text"] {

    position: relative;

    z-index: 2;

    background-color: transparent;

    border: none;

    width: 34px;

    height: 40px;

    border: 1px solid transparent;

    border-radius: 5px;

    transition: all 0.3s;

    filter: alpha(opacity=0);

    opacity: 0;

    margin-top: 15px;

    font-size: 16px;

}



.navbar-nav .nav-item a {

    padding: 0;

}



.nav-item.dropdown .nav-link .caret::before,

.nav-item.dropdown .nav-link .caret::after,

.closeDropdown span::before,

.closeDropdown span::after {

    height: 10px;

    width: 1px;

    background: #fff;

    content: "";

    position: absolute;

}



.nav-item.dropdown .nav-link .caret::before {

    top: 14px;

    right: 0;

    -ms-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    transform: rotate(45deg);

}



.nav-item.dropdown .nav-link .caret::after {

    top: 7px;

    right: 0;

    -ms-transform: rotate(-45deg);

    -webkit-transform: rotate(-45deg);

    -o-transform: rotate(-45deg);

    -moz-transform: rotate(-45deg);

    transform: rotate(-45deg);

}



.dropdown-menu.show .closeDropdown span {

    left: 12px;

    position: absolute;

    top: -2px;

    width: 20px;

    height: 20px;

}



.closeDropdown span::before,

.closeDropdown span::after {

    position: absolute;

}



.closeDropdown span::after {

    top: 7px;

    left: 0;

    -ms-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    transform: rotate(45deg);

}



.closeDropdown span::before {

    top: 14px;

    left: 0;

    -ms-transform: rotate(-45deg);

    -webkit-transform: rotate(-45deg);

    -o-transform: rotate(-45deg);

    -moz-transform: rotate(-45deg);

    transform: rotate(-45deg);

}



.close {

    position: absolute;

    right: 60px;

    top: 60px;

    width: 60px;

    height: 60px;

    opacity: 1;

    color: var(--light-green);

}



.close:before,

.close:after {

    position: absolute;

    left: 15px;

    content: ' ';

    height: 33px;

    width: 2px;

    background-color: var(--light-green);

}



.close:before {

    transform: rotate(45deg);

}



.close:after {

    transform: rotate(-45deg);

}



@media only screen and (min-width: 468px) {

    /* Styles */

    .successTab .nav-tabs .nav-link::before,

    .riskTab .nav-tabs .nav-link::before {

        content: "";

        width: 0;

        height: 1px;

        background-color: var(--dark-green);

        position: absolute;

        left: 0;

        bottom: 0;

        transition: all 0.2s ease;

    }

    .successTab .nav-tabs .nav-link:hover::before,

    .successTab .nav-tabs .nav-item.show .nav-link::before,

    .successTab .nav-tabs .nav-link.active::before,

    .riskTab .nav-tabs .nav-link:hover::before,

    .riskTab .nav-tabs .nav-item.show .nav-link::before,

    .riskTab .nav-tabs .nav-link.active::before {

        width: 100%;

    }

}